.arkgen-layout {
  height: calc(100vh - 24px);
  overflow: hidden;
  border: 2px solid #233333;

  .ant-layout-sider-light {
    background: white;
    border-right: 2px solid #233333;
  }

  .ant-menu {
    background-color: transparent;
    border-right: none;

    .ant-menu-item {
      background-color: unset;


      &::after {
        border: none;
      }
    }

    .ant-menu-item-selected {
      background-color: unset;
      text-decoration: underline;

      .ant-menu-item-icon {
        color: #233333 !important;
      }

    }

    &.sidermenu--collapsed {
      .ant-menu-item {
        filter: unset;

        &::after {
          border: none;
        }
      }
    }

    .sidermenu__item {
      color: #233333;
      font-family: fangsong, 'Courier New', Courier, monospace;
      font-weight: bolder;
    }
  }
}