.arkgen__header {
  width: 100%;
  height: 3rem;
  padding: 0 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bolder;
  background: white !important;
  border-bottom: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;

  &.header--no-pkg {
    font-size: 1rem;
    font-weight: normal;
  }



  .header__project {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

    .project__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 0.5rem;
      font-size: 1rem;
      font-weight: normal;
      color: darkgrey;
      line-height: 1rem;
    }
  }
}

.ant-tree.ant-tree-directory .ant-tree-treenode-selected:hover::before,
.ant-tree.ant-tree-directory .ant-tree-treenode-selected::before {
  background: unset;
  border-bottom: 1px solid #233333;
}

.ant-tree.ant-tree-directory .ant-tree-treenode .ant-tree-node-content-wrapper.ant-tree-node-selected,
.ant-tree.ant-tree-directory .ant-tree-treenode-selected .ant-tree-switcher {
  color: black;
}

.ant-tree {
  background: transparent;
}

.project__detail-card {
  .ant-tabs-top>.ant-tabs-nav .ant-tabs-ink-bar {
    height: 0;
  }

  .ant-tabs-top>.ant-tabs-nav::before {
    border: none;
  }

  .ant-tabs-tab {

    &.ant-tabs-tab-active {
      .ant-tabs-tab-btn {
        font-family: inherit;
        color: rgba(0, 0, 0, 0.85);
        font-weight: bolder;
      }
    }

    .ant-tabs-tab-btn {
      color: #86909c;
      text-shadow: none;
    }
  }

  .ant-list-bordered {
    border: none;
  }
}